* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 :root {
    --header-color-from-left-text-bg: #333846;
    --header-color-from-left-bg-text: rgb(24, 199, 176);
    --article-content: 50px;
    --section-height: 300px;
    --section-border-bottom: border-bottom: 2px solid var(--header-color-from-left-text-bg);
    --center-a-block: 0 auto;
    --text-align-center: center;
}


/* smooth scroll */

html {
    scroll-behavior: smooth;
}


/* cellphone media query */

@media only screen and (min-width:426px) and (max-width:2000px) {
    /* header */
    header {
        background: var(--header-color-from-left-text-bg);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header h1 {
        background: var(--header-color-from-left-bg-text);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 200px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    /* Global styles nav */
    header nav ul li {
        font-family: Arial, Helvetica, sans-serif;
    }
    header nav ul li a {
        text-decoration: none;
        color: var(--header-color-from-left-bg-text);
        border-bottom: 3px solid var(--header-color-from-left-bg-text);
        font-size: 14px;
    }
    .subheading {
        background: url('../../assets/images/Header-Background.png');
        background-size: cover;
        height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .subheading .avatar {
        height: 100px;
        border-radius: 50%;
    }
    .subheading h2 {
        background-color: var(--header-color-from-left-bg-text);
        height: 50px;
        padding: 0 1em 0 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0 2em 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heading-block {
        display: inline-block;
        font-size: 36px;
        padding: 0 .6em 0 .6em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 2px solid var(--header-color-from-left-text-bg);
    }
    .work-samples {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 300px 200px 200px 200px
    }
    /* work samples */
    .work-sample {
        background: #fff;
        margin: 15px auto 0 auto;
        background-position: center!important;
        background-size: contain!important;
        filter: saturate(.4);
        height: 200px;
        width: 200px;
    }
    .work-sample:hover {
        height: 220px;
        width: 220px;
        filter: saturate(1);
        transition: all .4s .4s ease-in-out;
    }
    .work-sample:nth-of-type(1) {
        background: url('../../assets/images/work-sample-1.png');
        filter: saturate(1);
        width: 300px;
        height: 300px;
    }
    .work-sample:nth-of-type(2) {
        background: url('../../assets/images/work-sample-2.png');
    }
    .work-sample:nth-of-type(3) {
        background: url('../../assets/images/work-sample-3.png');
    }
    .work-sample:nth-of-type(4) {
        background: url('../../assets/images/work-sample-4.png');
    }
    .work-sample .work-sample-heading {
        background: var(--header-color-from-left-bg-text);
        color: var(--header-color-from-left-text-bf);
        text-align: center!important;
    }
    .text-block {
        text-align: center;
        line-height: 2rem;
    }
    nav ul {
        list-style-type: none;
    }
    nav ul li {
        font-size: .8rem;
        display: inline;
        margin-right: 1em;
    }
    input[type="checkbox"] {
        display: none;
    }
    .contact-me-section {
        background: rgb(243, 237, 237);
        display: flex;
        flex-wrap: wrap;
        padding: 1em 15px 0 15px;
        text-align: center;
        flex-direction: column;
    }
}


/* header */

@media only screen and (max-width:425px) {
     :root {
        --header-color-from-left-text-bg: #333846;
        --header-color-from-left-bg-text: rgb(24, 199, 176);
    }
    /* menu and nav*/
    header nav ul li {
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        flex-wrap: wrap;
    }
    header nav ul li a {
        text-decoration: none;
        color: var(--header-color-from-left-bg-text);
        border-bottom: 3px solid var(--header-color-from-left-bg-text);
        font-size: 14px;
    }
    /* Subheading */
    .subheading {
        background: url('/assets/images/Header-Background.png');
        background-size: cover;
        height: 250px;
        justify-content: flex-end;
        align-items: flex-end;
    }
    /* avatar subheading */
    .subheading .avatar {
        height: 100px;
        border-radius: 50%
    }
    .subheading h2 {
        background-color: var(--header-color-from-left-bg-text);
        height: 50px;
        padding: 0 1em 0 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0 2em 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* page content article added contact me section*/
    article,
    .contact-me-section {
        background: rgb(243, 237, 237);
        display: flex;
        flex-wrap: wrap;
        padding: 1em 15px 0 15px;
        text-align: center;
        flex-direction: column;
    }
    .heading-block {
        display: inline-block;
        font-size: 36px;
        padding: 0 .6em 0 .6em;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 2px solid var(--header-color-from-left-text-bg);
    }
    .work-samples {
        padding: 15px 10px 15px 10px;
    }
    /* work samples */
    .work-sample {
        background: #fff;
        height: 200px;
        margin-top: 15px;
        background-position: center!important;
        background-size: cover!important;
        display: flex;
    }
    .work-sample:nth-of-type(1) {
        flex: 300px;
        background: url('/assets/images/work-sample-1.png');
    }
    .work-sample:nth-of-type(2) {
        background: url('/assets/images/work-sample-2.png');
    }
    .work-sample:nth-of-type(3) {
        background: url('/assets/images/work-sample-3.png');
    }
    .work-sample:nth-of-type(4) {
        background: url('/assets/images/work-sample-4.png');
    }
    .work-sample .work-sample-heading {
        background: var(--header-color-from-left-bg-text);
        color: var(--header-color-from-left-text-bf);
    }
}